<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WSC</title>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">

    <style type="text/css">
        #WSC_Menu {
            padding: 5px;
            background-color: #222;
            border-color: #080808;
        }

        #WSC_Menu li {
            float: right;
        }

        #WSC_Menu li a {
            color: #9d9d9d;
        }

        #WSC_Menu li a:hover {
            color: #fff;
            background-color: transparent;
        }
    </style>

</head>
<body>

<div id="app" class="container">

    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-6">

                <div id="WSC_Header" class="card">

                    <div class="card-section">
                        <h1>Website Status Checker</h1>
                    </div>

                    <register-page></register-page>

                </div>

            </div>
        </div>
        <div class="grid-x">
            <div class="cell small-6">

                <ul id="WSC_Menu" class="menu">
                    <li>
                        <router-link to="/">Home</router-link>
                    </li>
                    <li>
                        <router-link to="/tests">Tests</router-link>
                    </li>
                    <li>
                        <router-link to="/settings">Settings</router-link>
                    </li>
                    <li>
                        <router-link to="/logout">Logout</router-link>
                    </li>
                </ul>

            </div>
        </div>
        <div class="grid-x">
            <div class="cell small-6">

                <!-- route outlet -->
                <!-- component matched by the route will render here -->
                <router-view></router-view>

            </div>
        </div>
    </div>

</div>

<!--Firebase Scripts -->

<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-firestore.js"></script>
<script>
  // Initialize Firebase
  const config = {
    apiKey           : "AIzaSyBjhZ2meCR2kapRepos8cezA2P-0Sxpncs",
    authDomain       : "pmfd-website-status-checker.firebaseapp.com",
    databaseURL      : "https://pmfd-website-status-checker.firebaseio.com",
    projectId        : "pmfd-website-status-checker",
    storageBucket    : "pmfd-website-status-checker.appspot.com",
    messagingSenderId: "250743940681"
  };
  firebase.initializeApp(config);

  const Auth = firebase.auth();
  const DB = firebase.firestore();

  // DB.settings({ timestampsInSnapshots: true });

</script>

<!-- Supplementary Libraries -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<!-- App Logic -->

<script>

  // Auth.createUserWithEmailAndPassword(this.email, this.password).then(credentials =>
  // {
  //   return new RegisteredUser(email, password);
  // });

  // FROM HERE
  // FROM HERE
  // FROM HERE

  class User {

    email;
    testSuites;
    settings;

    getEmail()
    {
      return this.email;
    }

    setEmail(email)
    {
      this.email = email;
    }

    getTestSuites()
    {
      return this.testSuites;
    }

    setTestSuites(testSuites)
    {
      this.testSuites = testSuites;
    }

    getSettings()
    {
      return this.settings;
    }

    setSettings(settings)
    {
      this.settings = settings;
    }
  }
    
 
	MenuManager.goHome()
	
	
class MenuManager {

    currentPage;
  
    setCurrentPage(currentPage)
    {
  	Vue.$router.push(currentPage)
    }
    
    goHome()
    {
	this.setCurrentPage('/')
    }
	
	goTests()
	{
		this.setCurrentPage('/tests')
	}
	
	goSettings()
    {
	this.setCurrentPage('/settings')
    }
	

	
	goLogout()
    {
	this.setCurrentPage('/logout')
    }	
	
	
    getCurrentPage()
    {
	  return Vue.$router.currentRoute; // /, settings, test-suites
    }
	
}
	
class App {

    menuManager;
	user;
  
    setUser(user)
    {
    //logic
    }
	
	 getUser()
    {
    //logic
    }
	
	 setMenuManager(menuManager)
    {
    //logic
    }
	
	 getMenuManager()
    {
    //logic
    }
	
}

class settings {
	
	notifications;
	timeout;
	urgency;
	
	getNotifications()
    {
    //logic
	}
	
	setNotifications(notifications)
    {
	//logic	
	}
	
	getTimeout() 
    {
	//logic	
	}
    
	setTimeout(timeout) 
    {
	//logic	
	}
	
	getUrgency() 
    {
	//logic	
	}
	
	setUrgency(urgency) 
    {
	//logic	
	}
	
}

class testSuite {
	
	url;
	tag;
	status;
	
	getUrl()
    {
	//logic	
	}
	
	setUrl(url)
    {
	//logic	
	}
	
	getTag() 
    {
	//logic	
	}
	
	setTag(tag) 
    {
	//logic	
	}
	
	getStatus() 
    {
	//logic	
	}
	
}   */
    
    
    

  class GuestUser extends User {

    saveTestSuites()
    {
      // logic
    }

  }

  class RegisteredUser extends User {

    saveTestSuites()
    {
      // logic
    }

  }

  // TO HERE
  // TO HERE
  // TO HERE

  class Repository {
    constructor(collection)
    {
      this.collection = collection;
    }

    getCollection()
    {
      return DB.collection(this.collection);
    }

    getDocument(document)
    {
      return DB.collection(this.collection).doc(document);
    }
  }

  class SettingsRepository extends Repository {
    constructor()
    {
      super("settings");
    }
  }

  class StatusChecker {
    static check(url)
    {
      axios.get(url)
           .then(function (response)
           {
             console.log(response)
           })
           .catch(function (error)
           {
             console.log(error)
           });

      return true;
    }
  }

  class TestSuite {

    constructor(url)
    {
      this.url = url;
    }

    checkStatus()
    {
      return StatusChecker.check(this.url)
    }
  }

  /*
        The Login Page
   */
  const RegisterPage = Vue.component('register-page', {
    data    : function ()
    {
      return {
        email   : '',
        password: ''
      }
    },
    template: `
    <div class="card">
        <div class="card-section">
            <label for="register-email">Email</label>
            <input type="text" v-model="email" id="register-email" name="email">

            <label for="register-password">Password</label>
            <input type="text" v-model="password" id="register-password" name="password">

            <button class="button" v-on:click="onRegister">Register</button>
        </div>
    </div>
    `,
    methods : {
      onRegister: function ()
      {
        Auth.createUserWithEmailAndPassword(this.email, this.password).then(credentials =>
        {

        })
      }
    }
  });

  /*
        The Login Page
   */
  const LoginPage = Vue.component('login-page', {
    data    : function ()
    {
      return {
        count: 0
      }
    },
    template: `
    <div>
        <form action="index2.html">
            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email" placeholder="Your email..">

            <label for="Password">Password</label>
            <input type="text" id="password" name="password" placeholder="Your password..">

            <input type="submit" value="Log in">
        </form>
    </div>
    `
  });

  /*
        The Login Page
   */
  const HomePage = Vue.component('home-page', {
    data    : function ()
    {
      return {
        username: "Jimmy"
      }
    },
    methods : {
      onStartAll: function ()
      {
        {
          this.$router.push('tests');
        }
      }
    },
    template: `
    <div id="HomePage" class="Page card">

        <div class="card-section text-center">

            <h2>Welcome Back {{ username }}</h2>

            <p>
                Test your websites to see that they are running without problems.
            </p>

            <button class="button" v-on:click="onStartAll">Test websites</button></div>

        </div>

    </div>
    `
  });

  const TestSuiteRow = Vue.component('test-suite-row', {
    props   : [ 'test-suite' ],
    created : function ()
    {
      console.log(this.testSuite)
    },
    template: `
    <tr>
        <th style="text-align: left">{{ testSuite }}</th>
        <th style="color: green">&#10004</th>
        <th>
            <button class="button">Test</button>
            <button class="button alert">X</button>
        </th>
    </tr>
    `
  });

  /*
        The Tests Page
   */
  const TestsPage = Vue.component('tests-page', {
    data    : function ()
    {
      return {
        url       : '',
        testSuites: [
          new TestSuite("https://jimmyhowe.com")
        ],
      }
    },
    methods : {
      onAdd: function ()
      {
        this.testSuites.push(new TestSuite(this.url, this.tag))
      }
    },
    template: `
    <div id="TestPage" class="Page card">

        <div class="card-section">

            <div class="input-group">
                <span class="input-group-label">URL</span>
                <input type="text" v-model="url" class="input-group-field" placeholder="http://example.com">
                <div class="input-group-button">
                    <button v-on:click="onAdd" class="button">+</button>
                </div>
            </div>

        </div>

        <div class="card-section">

            <table id="test-suites" class="hover unstriped">
                <thead>
                <tr>
                    <th style="text-align: left">Url</th>
                    <th style="text-align: center">Status</th>
                    <th style="text-align: center">Options</th>
                </tr>
                </thead>
                <tbody>
                    <test-suite-row v-for="testSuite in testSuites" :test-suite="testSuite" :key="testSuite.url"></test-suite-row>
                </tbody>
            </table>

        </div>

        <div class="card-section">
            <button class="button expanded" onclick="window.location.href='index3.html'">Test all</button>
        </div>

    </div>
    `
  });

  /*
        The Login Page
   */
  const SettingsPage = Vue.component('settings-page', {
    data    : function ()
    {
      return {
        notifications: true,
        priority     : false
      }
    },
    template: `
    <div id="SettingsPage" class="Page card">

        <div class="card-section">

            <div style="overflow: auto">
                <p style="display: inline">Notifications</p>
                <div class="switch float-right">
                    <input v-model="notifications" class="switch-input" id="notificationsSwitch" type="checkbox" name="notificationsSwitch">
                    <label class="switch-paddle" for="notificationsSwitch">
                        <span class="show-for-sr">Download Kittens</span>
                    </label>
                </div>
            </div>

            <div style="overflow: auto">
                <p style="display: inline">Set as Urgent</p>
                <div class="switch float-right">
                    <input v-model="priority" class="switch-input" id="prioritySwitch" type="checkbox" name="prioritySwitch">
                    <label class="switch-paddle" for="prioritySwitch">
                        <span class="show-for-sr">Download Kittens</span>
                    </label>
                </div>
            </div>

            <div>
                <p>Auto Check Interval</p>

                <select name="autocheck">
                    <option value="every10minutes">Every 10 minutes</option>
                    <option value="every30minutes">Every 30 minutes</option>
                    <option value="every1hours">Every 1 hours</option>
                    <option value="every4hours">Every 4 hours</option>
                    <option value="every8hours">Every 8 hours</option>
                    <option value="every24hours">Every 24 hours</option>
                    <option value="custom">Custom</option>
                    <option value="off">Off</option>
                </select>

            </div>

        </div>

    </div>
    `
  });

  // 2. Define some routes
  // Each route should map to a component. The "component" can
  // either be an actual component constructor created via
  // `Vue.extend()`, or just a component options object.
  // We'll talk about nested routes later.
  const routes = [
    { path: '/login', component: LoginPage },
    { path: '/', component: HomePage },
    { path: '/tests', component: TestsPage },
    { path: '/settings', component: SettingsPage },
  ];

  // 3. Create the router instance and pass the `routes` option
  // You can pass in additional options here, but let's
  // keep it simple for now.
  const router = new VueRouter({
    routes // short for `routes: routes`
  });

  // 4. Create and mount the root instance.
  // Make sure to inject the router with the router option to make the
  // whole app router-aware.
  const app = new Vue({
    router
  }).$mount('#app')

  // Now the app has started!

</script>

</body>
</html>
