<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WSC</title>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">

    <style type="text/css">
        #WSC_Menu {
            padding: 5px;
            background-color: #222;
            border-color: #080808;
        }

        #WSC_Menu li {
            float: right;
        }

        #WSC_Menu li a {
            color: #9d9d9d;
        }

        #WSC_Menu li a:hover {
            color: #fff;
            background-color: transparent;
        }
    </style>

</head>
<body>

<div id="app" class="container">

    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-6">

                <div id="WSC_Header" class="card">

                    <div class="card-section">
                        <h1>Website Status Checker</h1>
                    </div>

                </div>

            </div>
        </div>
        <div class="grid-x">
            <div class="cell small-6">

                <ul id="WSC_Menu" class="menu">

                    <li v-for="menuItem in menuItems">
                        <router-link :to="menuItem.url">{{ menuItem.label }}</router-link>
                    </li>

                </ul>

            </div>
        </div>
        <div class="grid-x">
            <div class="cell small-6">

                <!-- route outlet -->
                <!-- component matched by the route will render here -->
                <router-view></router-view>

                <pre>{{ $data }}</pre>

            </div>
        </div>
    </div>

</div>

<!--Firebase Scripts -->

<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-firestore.js"></script>
<script>
  // Initialize Firebase
  const config = {
    apiKey           : "AIzaSyBjhZ2meCR2kapRepos8cezA2P-0Sxpncs",
    authDomain       : "pmfd-website-status-checker.firebaseapp.com",
    databaseURL      : "https://pmfd-website-status-checker.firebaseio.com",
    projectId        : "pmfd-website-status-checker",
    storageBucket    : "pmfd-website-status-checker.appspot.com",
    messagingSenderId: "250743940681"
  };
  firebase.initializeApp(config);

  const Auth = firebase.auth();
  const DB = firebase.firestore();

  // DB.settings({ timestampsInSnapshots: true });

</script>

<!-- Supplementary Libraries -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<!-- Common Classes -->

<script src="js/menu-manager.js"></script>
<script src="js/application.js"></script>
<script src="js/user.js"></script>
<script src="js/user-settings.js"></script>
<script src="js/test-suite.js"></script>

<!-- App Logic -->

<script>

  /*
        The Login Page
   */
  const RegisterPage = Vue.component('register-page', {
    data    : function ()
    {
      return {
        email   : '',
        password: ''
      }
    },
    template: `
    <div class="card">
        <div class="card-divider">
            <h1>Register</h1>
        </div>
        <div class="card-section">
            <label for="register-email">Email</label>
            <input type="text" v-model="email" id="register-email" name="email">

            <label for="register-password">Password</label>
            <input type="text" v-model="password" id="register-password" name="password">

            <button class="button" v-on:click="onRegister">Register</button>
        </div>
    </div>
    `,
    methods : {
      onRegister: function ()
      {

      }
    }
  });

  /*
        The Login Page
   */
  const LoginPage = Vue.component('login-page', {
    data    : function ()
    {
      return {
        hasError: false,
        error   : {
          heading: "Error",
          message: ""
        },
        email   : '',
        password: ''
      }
    },
    methods : {
      onLogin()
      {
        let status = Application.logIn(this.email, this.password);

        if (Application.isLoggedIn())
        {
          this.$root.isLoggedIn = true;

          Application.Navigate.Tests();
        } else
        {
          this.$root.isLoggedIn = false;
        }
      },
      onLoginAsGuest()
      {
        let status = Application.logInGuest();

        Application.Navigate.Home();
      }
    },
    template: `
    <div id="LoginPage" class="card">
        <div class="card-divider">
            <h1>Login</h1>
        </div>
        <div v-if="hasError" class="card-section">
            <div class="callout alert" data-closable>
                    <h5>{{ error.heading }}</h5>
                    <p>{{ error.message }}</p>
                    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
        </div>
        <div class="card-section">
            <label for="login-email">Email</label>
            <input type="text" v-model="email" id="login-email" name="email">

            <label for="login-password">Password</label>
            <input type="text" v-model="password" id="login-password" name="password">

            <button class="button" v-on:click="onLogin">Login</button>
            <button class="button" v-on:click="onLoginAsGuest">Login as Guest</button>
        </div>
    </div>
    `
  });

  /*
        The Login Page
   */
  const HomePage = Vue.component('home-page', {
    data    : function ()
    {
      return {
        user: null
      }
    },
    methods : {
      onStartAll: function ()
      {
        {
          this.$router.push('tests');
        }
      }
    },
    created : function ()
    {
      this.user = Application.User;
    },
    template: `
    <div id="HomePage" class="Page card">

        <div class="card-section text-center">

            <h2 v-if="$root.isLoggedIn">Welcome Back!</h2>

            <h2 v-else>Welcome</h2>

            <p>
                This application will allow you to test multiple websites to check their status.
            </p>

        </div>

    </div>
    `
  });

  const TestSuiteRow = Vue.component('test-suite-row', {
    props   : [ 'test-suite' ],
    created : function ()
    {
      console.log(this.testSuite)
    },
    template: `
    <tr>
        <th style="text-align: left">{{ testSuite }}</th>
        <th style="color: green">&#10004</th>
        <th>
            <button class="button">Test</button>
            <button class="button alert">X</button>
        </th>
    </tr>
    `
  });

  /*
        The Tests Page
   */
  const TestsPage = Vue.component('tests-page', {
    data    : function ()
    {
      return {
        url       : '',
        testSuites: [
          new TestSuite("https://jimmyhowe.com")
        ],
      }
    },
    methods : {
      onAdd: function ()
      {
        this.testSuites.push(new TestSuite(this.url))
      }
    },
    template: `
    <div id="TestPage" class="Page card">

        <div class="card-section">

            <div class="input-group">
                <span class="input-group-label">URL</span>
                <input type="text" v-model="url" class="input-group-field" placeholder="http://example.com">
                <div class="input-group-button">
                    <button v-on:click="onAdd" class="button">+</button>
                </div>
            </div>

        </div>

        <div class="card-section">

            <table id="test-suites" class="hover unstriped">
                <thead>
                <tr>
                    <th style="text-align: left">Url</th>
                    <th style="text-align: center">Status</th>
                    <th style="text-align: center">Options</th>
                </tr>
                </thead>
                <tbody>
                    <test-suite-row v-for="testSuite in testSuites" :test-suite="testSuite" :key="testSuite.url"></test-suite-row>
                </tbody>
            </table>

        </div>

        <div class="card-section">
            <button class="button expanded" onclick="window.location.href='index3.html'">Test all</button>
        </div>

    </div>
    `
  });

  //
  // The Settings Page Component
  //
  const SettingsPage = Vue.component('settings-page', {
    data    : function ()
    {
      return {
        notifications: true,
        priority     : false
      }
    },
    template: `
    <div id="SettingsPage" class="Page card">

        <div class="card-section">

            <div style="overflow: auto">
                <p style="display: inline">Notifications</p>
                <div class="switch float-right">
                    <input v-model="notifications" class="switch-input" id="notificationsSwitch" type="checkbox" name="notificationsSwitch">
                    <label class="switch-paddle" for="notificationsSwitch">
                        <span class="show-for-sr">Download Kittens</span>
                    </label>
                </div>
            </div>

            <div style="overflow: auto">
                <p style="display: inline">Set as Urgent</p>
                <div class="switch float-right">
                    <input v-model="priority" class="switch-input" id="prioritySwitch" type="checkbox" name="prioritySwitch">
                    <label class="switch-paddle" for="prioritySwitch">
                        <span class="show-for-sr">Download Kittens</span>
                    </label>
                </div>
            </div>

            <div>
                <p>Auto Check Interval</p>

                <select name="autocheck">
                    <option value="every10minutes">Every 10 minutes</option>
                    <option value="every30minutes">Every 30 minutes</option>
                    <option value="every1hours">Every 1 hours</option>
                    <option value="every4hours">Every 4 hours</option>
                    <option value="every8hours">Every 8 hours</option>
                    <option value="every24hours">Every 24 hours</option>
                    <option value="custom">Custom</option>
                    <option value="off">Off</option>
                </select>

            </div>

        </div>

    </div>
    `
  });

  //
  // Boot the router with defined routes
  //
  const Router = new VueRouter({
    routes: [
      { path: '/login', component: LoginPage },
      { path: '/register', component: RegisterPage },
      { path: '/', component: HomePage },
      { path: '/tests', component: TestsPage },
      { path: '/settings', component: SettingsPage },
    ] // short for `routes: routes`
  });

  //
  // Boot the Application
  //
  const App = new Vue({
    router  : Router,
    data    : {
      isLoggedIn: false,
      testMode  : false,
    },
    computed: {
      menuItems()
      {
        let menuItems = [];

        if (!this.isLoggedIn || this.testMode)
        {
          menuItems.push(
            { label: "Login", url: "/login" },
            { label: "Register", url: "/register" },
          );
        }

        if (this.isLoggedIn || this.testMode)
        {
          menuItems.push(
            { label: "Home", url: "/" },
            { label: "Tests", url: "/tests" },
            { label: "Settings", url: "settings" },
            { label: "Logout", url: "/logout" },
          );
        }

        console.log(menuItems);

        return menuItems;
      }
    },
    methods : {
      TestModeOn()
      {
        this.menuItems = [
          { label: "Login", url: "/login" },
          { label: "Register", url: "/register" },
          { label: "Home", url: "/" },
          { label: "Tests", url: "/tests" },
          { label: "Settings", url: "settings" },
          { label: "Logout", url: "/logout" },
        ]
      }
    }
  }).$mount('#app');

</script>

</body>
</html>
