
body {

text-align: center;
background: white;
max-width: 375px;
margin: auto;
padding: 10px;

}

header {
	background-image:url("../pictures/cloud3.jpg");
	border: 3px solid #ddd;
	max-width: 375px;
	padding: 70px;
	margin: auto;
	text-align: center;

}

h1 {
max-width: 375px;
  margin: auto;
  padding: 5px;
  text-align: center;
  font-family: Calibri, sans-sefir;
  font-size: 35px;
}


div {
max-width: 375px;
  margin: auto;
  padding: 25px;
  font-family: Calibri, sans-sefir;
  font-size: 17px;
  background-color: #cccccc;
}

p {

font-family: Calibri, sans-sefir;
font-size: 17px;
float: left;
margin-top: 15px;
 
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  max-width: 375px;
  font-size: 17px;
  border: 3px solid #ddd;

}

li {
  float: left;
  max-width: 375px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 13px;
  text-decoration: none;
  font-family: Calibri, sans-sefir;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #004d99;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: auto;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CAF50
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select {
	text-decoration: none;
  font-family: Calibri, sans-sefir;
   float: right;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
}



	




